@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="container" class="content-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Danh sách chức năng</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    REACT (cần đăng nhập): <a href="/home/nationreact"> link </a><br />
                    SubjectReact: <a href="/Subject/SubjectReact"> link </a><br />
                    MVC thuần (không cần đăng nhập):<br />
                    <br />
                    <br />
                    <br />
                    Subject: <a href="/Subject/MangagerSubject"> link </a><br />

                </div>
            </div>
        </div>
    </div>
</div>